*{
	box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/*.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    float: left;
    padding: 20px;
    border: 1px solid red;
}*/

[class*="col-"] {
    float: left;
    padding: 20px 20px 0 20px;
    border: 1px solid red;
    background-color: lightblue;
    float: left;
}

.conteiner{
	width: 90%;
	margin: 0 auto;
}

.conteiner{
	width: 100%;
	margin: 0 auto;
}
/*
@media (max-width: 319px){
	body{
		background-color: blue;
	}
	
}

@media (min-width: 320px){
	body{
		background-color: black;
	}
	
}

@media (min-width: 360px){
	body{
		background-color: red;
	}
	
}

@media (min-width: 768px){
	body{
		background-color: orange;
	}
}

@media (min-width: 1280px){
	body{
		background-color: green;
	}
}*/
